.block-wrapper{
	$color1: lighten(#606dbc, 35%);
	$color2: lighten(#465298, 45%);
	color: white;
	background: repeating-linear-gradient(
	45deg,
	$color1,
	$color1 10px,
	$color2 10px,
	$color2 20px
	);
}

.wrapper-inner{
	background-color: #F9F5F5;
	padding-left: 25px;
	padding-right: 25px;
}

.block{
	background-color: #F9F5F5;
	background-clip: content-box;
	overflow: hidden;
}

