@import "~bourbon/core/bourbon";
@import 'rythm-vars';

@function fromMap($map, $i) {
  @return nth(nth($map, $i), 2);
}

@function firstFromMap($map) {
  @return fromMap($map, 1);
}

@function lastFromMap($map) {
  @return fromMap($map, length($map));
}

@function getStep($breakpoint) {
	$first: strip-unit(firstFromMap($rythm-breakpoints));
	$last: strip-unit(lastFromMap($rythm-breakpoints));
	$current: strip-unit($breakpoint);
  @return floor($current/($last - $first) * length($rythm-breakpoints));
}

@mixin margins-paddings($v){
	// margins
      &.m-t {
        margin-top: $v;
      }
      &.m-b {
        margin-bottom: $v;
      }
      &.m-t-b {
        margin-top: $v;
        margin-bottom: $v;
      }
      // paddings
      &.p-t {
        padding-top: $v;
      }
      &.p-b {
        padding-bottom: $v;
      }
      &.p-t-b {
        padding-top: $v;
        padding-bottom: $v;
      }
      // margin and paddings
      &.m-p-t {
        margin-top: $v/2;
        padding-top: $v/2;
      }
      &.m-p-b {
        margin-bottom: $v/2;
        padding-bottom: $v/2;
      }
      &.m-p-t-b {
        margin-top: $v/2;
        padding-top: $v/2;
        margin-bottom: $v/2;
        padding-bottom: $v/2;
      }
}

@mixin blocks() {
  $base: $rythm-block-base;
  $ratio: $rythm-block-ratio;

  @include margins-paddings($base);

  @for $i from 2 through length($rythm-breakpoints) {
    $step: getStep(fromMap($rythm-breakpoints, $i));
    $v: modular-scale($step, $base, $ratio);

	  @media (min-width: fromMap($rythm-breakpoints, $i)) {
        @include margins-paddings($v);
    }
  }
}

.block {
  @include blocks;
}

@each $element, $value in $rythm-contexts {
  p.fnt.#{$element}, .#{$element} p {
    font-family: unquote(map-get($value, fontFamily));
    font-weight: map-get($value, fontWeight);
    color: map-get($value, color);
    transition: all 0.3s;

    font-size: map-get($value, base);
	line-height: map-get($value, lineHeight);

    @for $i from 2 through length($rythm-breakpoints) {
      $step: getStep(fromMap($rythm-breakpoints, $i));
      @media (min-width: fromMap($rythm-breakpoints, $i)) {
        font-size: modular-scale($step, map-get($value, base), map-get($value, ratio));
        line-height: modular-scale(1 - $i, map-get($value, lineHeight), map-get($value, lineHeightRatio));
      }
    }
  }

  @for $j from 1 through 6 {
    h#{$j}.fnt.#{$element}, .#{$element} h#{$j} {

      font-family: unquote(map-get($value, fontFamily));
      font-weight: map-get($value, fontWeight);
      color: map-get($value, color);
      transition: all 0.3s;

      $base: modular-scale(1 - $j, map-get($value, headingBase), map-get($value, headingRatio));
	  $lineHeight: modular-scale($j - 1, map-get($value, headingLineHeight), map-get($value, headingLineHeightRatio));
      font-size: $base;
	  line-height: $lineHeight;

      @for $j from 2 through length($rythm-breakpoints) {
        $step: getStep(fromMap($rythm-breakpoints, $j));
		$fontSize: modular-scale($step, $base, map-get($value, headingRatio));
        @media (min-width: fromMap($rythm-breakpoints, $j)) {
          font-size: $fontSize;
          line-height: $lineHeight;
        }
      }
    }
  }
}
