// compatible with http://include-media.com/
$rythm-breakpoints: (phone: 320px, xphone: 480px, tablet: 768px, xtablet: 992px, desktop: 1200px) !default;

// fonts
$rythm-contexts: (
        lato: (
                fontFamily: "Lato, Hevetica, sans-serif",
                fontWeight: normal,
                color: #6e6e6e,
                base: 0.9rem,
                ratio: 1.05,
                lineHeight: 1.6,
			    lineHeightRatio: 1.01,
                headingBase: 1.25rem,
                headingRatio: 1.12,
                headingLineHeight: 1.15,
			    headingLineHeightRatio: 1.05,
        ),
	    titan: (
                fontFamily: "'Titan One', cursive",
                fontWeight: normal,
                color: salmon,
                base: 0.9rem,
                ratio: 1.05,
                lineHeight: 1.6,
			    lineHeightRatio: 1.01,
                headingBase: 1.25rem,
                headingRatio: 1.12,
                headingLineHeight: 1.15,
			    headingLineHeightRatio: 1.05,
        ),
	    indie: (
                fontFamily: "'Indie Flower', Hevetica, sans-serif",
                fontWeight: normal,
                color: #6e6e6e,
                base: 0.9rem,
                ratio: 1.05,
                lineHeight: 1.6,
			    lineHeightRatio: 1.01,
                headingBase: 1.28rem,
                headingRatio: 1.12,
                headingLineHeight: 1.1,
			    headingLineHeightRatio: 1.05,
        ),
	    passion: (
                fontFamily: "'Passion One', Hevetica, sans-serif",
                fontWeight: normal,
                color: #6e6e6e,
                base: 0.9rem,
                ratio: 1.05,
                lineHeight: 1.6,
			    lineHeightRatio: 1.01,
                headingBase: 1.4rem,
                headingRatio: 1.12,
                headingLineHeight: 1,
			    headingLineHeightRatio: 1.05,
        )
) !default;

// blocks
$rythm-block-base: 1rem  !default;
$rythm-block-ratio: 1.24 !default;
